footer{
    width: 60vw;
    height: 200px;
    position: absolute;
    bottom: 0;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p{
    width: 70%;
}

footer .botoes{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 70%;
}

footer .social img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin: 0 10px;
}